
<!-- Loop over each object in the posts array -->
<body id="grey-background">
{{#each posts as |post| }}
<div id="dash-style" class="container">
<div id="white-background" class="post-style">
  <div class="row post-style">
    <h5>
      <a href="/post/{{post.id}}">{{post.title}}</a>
    </h5>
    <hr class="line">
  </div>
  <div class="row blog_content">
      <p>
        {{post.content}}
      </p>
       <p>by {{post.user.name}} on {{format_date post.date_created}}</p>
  </div>

  <div class="row">
            <a class="button-style btn margin-btm commentBtn" data-id="{{post.id}}"> Leave a Comment</a>
            {{!-- <a class="button-style btn margin-btm editBtn" data-id="{{post.id}}">Edit Post</a> --}}
        </div>
            {{!-- COMMENT CONTAINER --}}
            <div id="idToComment" class="row comment-container hide commentContainer">

                <div class="input-group">
                    <span class="input-group-text">Comment:</span>
                    <textarea id="commentText" class="form-control" aria-label="With textarea"></textarea>

                </div>

                {{!-- SAVE COMMENT --}}
                <div>
                    <button type="submit" class="button-style btn saveCommentBtn margin-btm"
                        data-id="{{post.id}}">SUBMIT</button>
                </div>
            </div>
</div>
</div>
</body>
{{/each}}

<script src="/js/post.js"></script>